@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<ModalContainer />
<ToastContainer />

<div>
    <MainNavigation />

    @if (LoggedIn)
    {
        <!-- nav -->
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="navbar-nav">
                <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
                <NavLink href="users" class="nav-item nav-link">Users</NavLink>
                <NavLink href="account/logout" class="nav-item nav-link">Logout</NavLink>
            </div>
        </nav>
    }

    <div class="page-wrapper">
        <div class="container-fluid">
            <Alert />
            @Body
        </div>
    </div>

</div>

@code {
    public bool LoggedIn 
    {
        get { return AccountService.User != null; }
    }
}
